body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Align elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;  /* Add margin to separate the heading from the container */
    color: #0b0bde;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.inpcontent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inpcontent input {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.inpcontent button {
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.inpcontent button i {
    font-size: 16px;
}

.inpcontent button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
}

ul li button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

ul li button:hover {
    background-color: #c0392b;
}
